* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: large;
  padding: 2rem;
  background-color: #eee;
  color: #2a4682;

}

.light-color-block {
  width: 400px;
  height: 250px;
  background-color: #2a4682;
  color: #eee;
  padding: 2rem;
  margin: 1rem 0;
}

.mid-light-color-block {
  background-color: #eee;
  color: #2a4682;
}

.dark-color-block {
  width: 400px;
  height: 250px;
  background-color: #222;
  color: #eee;
  padding: 2rem;
  margin: 1rem 0;
}

.mid-dark-color-block {
  background-color: #9184d2;
  color: #222;
}

p, pre {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: lato;
}
