/*My CSS variables*/
:root {
  --light-primary-color: #eee;
  --light-secondary-color: #2a4682;
  --light-anchor-primary: #4c68a4;
  --light-anchor-secondary: black;
}

/*Elements*/
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: large;
  background-color: var(--light-primary-color);
  color: var(--light-secondary-color);
}

a {
  color: var(--light-anchor-primary);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--light-anchor-secondary);
  font-weight: bold;
}

p,
pre,
li,
label,
input,
option,
select,
button {
  font-family: sans-serif;
  line-height: 1.5rem;
}

input,
select,
button {
  border-radius: 5px;
  background-color: var(--light-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "lato";
}

/*Classes*/
.main-section {
  padding: 0 2rem;
}

.header-menu-button {
  text-align: center;
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 0.5rem;
}

.header-menu-button h2 {
  margin: 0;
}

.header-menu-button h2:hover {
  color: black;
}

.navigation-bar {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  background-color: var(--light-anchor-primary);
}

.navigation-bar a {
  color: var(--light-primary-color);
}

.navigation-bar a:hover {
  color: var(--light-anchor-secondary);
}

.budget-widget-instructions {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#widget-title {
  margin-left: 0.5rem;
}

.widget-budgeter {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 1rem 0;
}

.widget-item input,
.widget-item select {
  width: 30%;
  max-width: 300px;
}

.widget-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  font-size: medium;
}

.widget-entry {
  text-align: center;
}

.widget-entry p {
  border-right: 2px solid var(--light-anchor-secondary);
  padding: 0 0.5rem;
  display: inline-block;
  font-size: medium;
}

.widget-entry p:first-of-type {
  border-left: 2px solid var(--light-anchor-secondary);
}

#widget-feedback {
  margin-left: 0.5rem;
}
.add-remove-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 0.25rem;
  margin-right: 0.5rem;
}

.button-box {
  text-align: center;
}
.button-join-us {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgb(52, 52, 52);
  font-size: large;
  padding: 1rem 5rem;
}

.footer-content {
  font-size: small;
  border-top: 1px solid var(--light-secondary-color);
  margin-top: 3rem;
  text-align: center;
}

/*Other Classes*/
.hidden {
  display: none;
}
