* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: large;
  background-color: #eee;
  color: #2a4682;

}

.main-section{
    padding: 0 2rem;

}

p, pre, li {
  font-family: sans-serif;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "lato";
}