/*Classes*/

.widget-review-highlight {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

.widget-review-slide-section {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
}

.widget-review-image {
  width: 40%;
  margin: 0 auto;
}

.widget-review-image img {
  border-radius: 5px;
}

.widget-reivew-arrow {
  width: 25%;
  height: 25%;
  opacity: 0.25;
  margin-top: 25%;
}

.comments-form-section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  background-color: var(--light-secondary-color);
  padding: 2rem;
}

.comments-section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 2rem 0;
  font-size: medium;
}

.comments-section-comment {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-grow: 0;
  gap: 1rem;
  border: 1px solid var(--light-primary-color);
}

.comment-section-image {
  height: 20%;
  width: 20%;
}
.comment-section-comment {
  background-color: var(--light-complimentary-primary);
  padding: 0.5rem;
  font-size: small;
  margin: 0;
}

@media screen and (min-width:800px) {
  .widget-review-highlight{
    width: 60%;
    
  }
  
  .widget-review-details{
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: space-evenly;
  }

  .comments-form-section, .comments-section{
    justify-self: center;
    width: 70%;
  }

}