/*Classes*/

.widget-review-highlight{
    background-color: var(--light-secondary-color);
    color: var(--light-primary-color);
    padding: 1rem;
}

.widget-review-slide-section{
    display: flex;
    flex-flow: row nowrap;
    gap: 0.25rem;
}

.widget-review-image{
    width: 50%;
    margin: 0 auto;
}

.widget-review-image img{
    border-radius: 5px;
}

.widget-reivew-arrow{
    width: 25%;
    height: 25%;
    opacity: 0.25;
    margin-top: 25%;
}

.comments-form-section{
    display: flex;
    flex-flow: column wrap ;
    gap: 1rem;
    background-color: var(--light-secondary-color);
    padding: 2rem;
}