/*Classes*/

.welcome-image {
  box-shadow: 5px 5px 10px;
  margin: 1rem;
}

.welcome-image:hover {
  transform: scale(1.05);
}

.budget-image {
  box-shadow: 5px 5px 10px;
  margin: 1rem;
}

.budget-image:hover {
  transform: scale(1.05);
}

.budget-widget-instructions {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#widget-title {
  margin-left: 0.5rem;
}

.widget-budgeter {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 1rem 0;
}

.widget-item input,
.widget-item select {
  width: 30%;
  max-width: 300px;
}

.widget-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  font-size: medium;
}

.widget-entry {
  text-align: center;
}

.widget-entry p {
  border-right: 2px solid var(--light-complimentary-secondary);
  padding: 0 0.5rem;
  display: inline-block;
  font-size: medium;
}

.widget-entry p:first-of-type {
  border-left: 2px solid var(--light-complimentary-secondary);
}

#widget-feedback {
  margin-left: 0.5rem;
}
.add-remove-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 0.25rem;
  margin-right: 0.5rem;
}

.why-us-content {
  text-align: center;
}

.why-us-content img {
  width: 50%;
  text-align: center;
}

.why-us-content img:hover {
  transform: scale(1.05);
}

/*Media Query for the desktop*/
@media screen and (min-width: 800px) {
  .welcome-image {
    width: 30%;
    float: right;
  }

  .widget-instruction-article {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  /*The budget-widget-instructions and budget-image will share a line. Can use a grid or use percentages for the spacing - currently doing 60/30%*/
  .budget-widget-instructions {
    width: 60%;
  }
  .budget-image {
    width: 30%;
  }

  .widget-budgeter {
    width: 80%;
    margin: 0 auto;
  }

  .why-us-image {
    width: 30%;
    max-width: 300px;
    float: left;
  }
}
