/*Classes*/

.budget-widget-instructions {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#widget-title {
  margin-left: 0.5rem;
}

.widget-budgeter {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 1rem 0;
}

.widget-item input,
.widget-item select {
  width: 30%;
  max-width: 300px;
}

.widget-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.25rem;
  font-size: medium;
}

.widget-entry {
  text-align: center;
}

.widget-entry p {
  border-right: 2px solid var(--light-anchor-secondary);
  padding: 0 0.5rem;
  display: inline-block;
  font-size: medium;
}

.widget-entry p:first-of-type {
  border-left: 2px solid var(--light-anchor-secondary);
}

#widget-feedback {
  margin-left: 0.5rem;
}
.add-remove-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  gap: 0.25rem;
  margin-right: 0.5rem;
}

.why-us-content {
  text-align: center;
}

.why-us-content img {
  width: 50%;
  text-align: center;
}
