/*My CSS variables*/
:root {
  --light-primary-color: #eee;
  --light-secondary-color: #2a4682;
  --light-complimentary-primary: #4c68a4;
  --light-complimentary-secondary: black;
}

/*Elements*/
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-size: large;
  background-color: var(--light-primary-color);
  color: var(--light-secondary-color);
}

a {
  color: var(--light-complimentary-primary);
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: var(--light-complimentary-secondary);
  font-weight: bold;
}

p,
b,
pre,
li,
em,
label,
input,
textarea,
option,
select,
button {
  font-family: sans-serif;
  line-height: 1.5rem;
}

input,
select,
button,
textarea {
  border-radius: 5px;
  background-color: var(--light-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "lato";
}

/*Header and footer Classes*/
.main-section {
  padding: 0 2rem;
}

.header-menu-button {
  text-align: center;
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  padding: 0.5rem;
}

.header-menu-button h2 {
  margin: 0;
}

.header-menu-button h2:hover {
  color: black;
}

.navigation-bar {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  gap: 2rem;
  background-color: var(--light-complimentary-primary);
  font-family: sans-serif;
}

.navigation-bar a {
  color: var(--light-primary-color);
}

.navigation-bar a:hover {
  color: var(--light-complimentary-secondary);
}

.footer-button-box {
  text-align: center;
}
.footer-button-join-us {
  background-color: var(--light-secondary-color);
  color: var(--light-primary-color);
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgb(52, 52, 52);
  font-size: large;
  padding: 1rem 5rem;
}

.footer-content {
  font-size: small;
  border-top: 1px solid var(--light-secondary-color);
  margin-top: 3rem;
  text-align: center;
}

/*Other classes*/
.display-menu {
  display: flex;
}

/*My media query*/
@media screen and (min-width: 800px) {
  .navigation-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20%;
  }
  .header-menu-button {
    display: none;
  }
}
