body{
  font-size: 20px;
}

.page-contents {
  margin: 0 auto;
  padding: 0;
  max-width: 70%;
  border: 1px solid grey;
}

.main-text {
  width: 600px;
  text-align: left;
  margin: 0 auto;
}

.mission-statement {
  text-align: center;
  line-height: 1.5;
}

.mission-statement h2 {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.1rem;
}

.mission-statement p {
  margin-bottom: 0.1rem;
  color: #006EB6;

  letter-spacing: 0.1rem;
}

.mission-statement hr {
  margin-top: 0rem;
  margin-bottom: 3rem;
  border: 1px solid #efebeb;
  width: 30rem;
}

.lists li {
  margin-bottom: 1rem;
}

#byui-logo {
  text-align: center;
  margin-top: 4rem;
}

#byui-logo img {
  width: 150px;
}
